body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2qRuHEvzDUnm3ZtLDgW6hsRHg6pnNYQ9oLw&usqp=CAU');
  font-family: "Times New Roman"; Garamond;
  margin: 6% 12%;
}

h2 {
  color: DarkBlue;
  text-transform: uppercase;
  border-top: 1px solid RoyalBlue;
  border-bottom: 1px solid RoyalBlue;
  border-width: 1.5px
}

h1 {
  text-transform: uppercase;
}

header {
  text-align: center; 
}

img {
  width: 100%;
  margin-top: 40px;
}

p {
  line-height: 0.25;
}

h4 {
  line-height: 0.1;
  margin-left: 25px;
}

li {
  margin-left: 15px;
}

p.personalprofile {
  line-height: 1.2;
}
