body {
  background-color: AliceBlue;
  font-family: "Times New Roman", Garamond;
  margin: 6% 12%;
}

h2 {
  color: DarkBlue;
  text-transform: uppercase;
  border-top: 1px dashed DarkBlue;
  border-bottom: 1px dashed DarkBlue;
}

header {
  text-align: center; 
}

line1 {
  text-transform: uppercase;
}

lines234 {
  line-height: 0.25;
}

img {
  width: 100%;
  margin-top: 40px;
}

p {
  line-height: 0.25;
}

h4 {
  line-height: 0.1;
}


a {
  color: DarkBlue; 
}

